body {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 Georgia,serif;
	background-color: #c7c0ae;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	padding: 10rem 0;
}

.sun {
	width: 300px;
}

.sun-section {
	background: transparent url("../img/mars-pano.jpg") no-repeat center;
	background-size: cover;
}

.dipper{
	width: 300px;
	opacity: 0;
}


.js-dipper-fade {
	-webkit-animation: dipper-fade 1s linear forwards;
}
/*animation-fill mode: forwards;
Tells the animation to stay at its last keyframe and not reset*/

/*dont forget to put in all the prefixes*/

.shuttle {
	width: 300px;
	opacity: 0;
}

.shuttle-section {
	background-color:#F8B702;
	background-size: cover;
}

.js-shuttle-fade {
	-webkit-animation: shuttle-fade 1s linear forwards;
}

@-webkit-keyframes dipper-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}

@-webkit-keyframes shuttle-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}

